# 编译输出
bin/
obj/

# 打包程序目录
打包程序目录/

# 用户数据文件
data/
themes/
数据/
config.json

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# 编译生成的文件
*.pdb
*.dll
*.exe
*.cache

# 日志文件
*.log

# 系统文件
Thumbs.db
Desktop.ini
.DS_Store
boundless_data.json
